{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4
        },
        "exclude": [
          "transform-regenerator"
        ]
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ]
}
