.App {
}

.App-logo {
  height: 60px;
  margin-bottom: 16px;
}


h1:hover .App-logo {
  animation: App-logo-spin infinite 2s linear;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header h1 {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0%
  {
    transform: scale( .9 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .9 );
  }
  60%
  {
    transform: scale( 1.1 );
  }
  80%
  {
    transform: scale( 1 );
  }
  100%
  {
    transform: scale( .9 );
  }
}
